<div class="screen">
  <div class="sidenav">
    <div>
     <%= image_tag('Frame.png', class: "logo")%>
    </div>
    <%# NAVS %>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link" id="v-pills-all-tab" data-bs-toggle="pill" data-bs-target="#v-pills-all" type="button" role="tab" aria-controls="v-pills-all" aria-selected="true">All Recipes</button>
        <button class="nav-link" id="v-pills-favorites-tab" data-bs-toggle="pill" data-bs-target="#v-pills-favorites" type="button" role="tab" aria-controls="v-pills-favorites" aria-selected="false">Favorites</button>
      </div>
    </div>
    <div class="user-details_dashboard">
      <img src="<%= current_user.avatar %>" class='user-avatar'>
      <div class="text-info">
        <div class="username"> <%= current_user.username%> </div>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout-text" %>
        </div>
    </div>
  </div>
  <div class="user-info">
    <h2><%= current_user.username%>'s Cookbook</h2>
  </div>
  <div class="recipe-grid">
    <% @recipes.each do |recipe| %>
      <a href="<%=recipe_path(recipe)%>">
        <div class="recipe-card">
          <div class="img-container">
            <img src="<%= recipe.url %>" alt="">
          </div>
          <div class="recipe-content">
            <%= recipe.title %>
          </div>
        </div>
      </a>
    <%end %>
  </div>

  <div class="url-input">
    <div class ="input-box">
      <h2 class="url-input-header">Turn the heat up chef 🔥</h2>
      <%= simple_form_for @recipe do |f|  %>

        <%= f.input :url, inline_label: 'Remember me', label: false, class: "url-field" %>
        <%= f.submit "create a recipe", class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
