

<div class="d-grid gap-2 d-md-flex justify-content-md-end me-2">
<button id="button" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">

Save recipe</button>
</div>

<div class="recipe-details">
  <img class="mb-3 ms-4"src="<%= @recipe.url %>" width="200">
  <h2> <%= @recipe.title %> </h2>
  <p> <%= @recipe.preptime %> min</p>
</div>
<div class="screen">
  <div class="left">
    <div class="instrunctions-container">
      <% @instructions.each do |instruction|%>
        <div class="recipe-instruction-card">
          <span class="badge font-48 bg-success"> <%= @instructions.index(instruction) + 1%></span>
          <div class="instruction-content">
            <%= instruction.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="playlist">
    <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0uVbw9Ao9fqLb7DFrTsBKF?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="Modal-heading" id="modalLabel">Do you want to save this masterpiece?</h1>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger">Do not save</button>
        <button  class="btn btn-success">Save recipe</button>
      </div>
    </div>
  </div>
</div>

<div id="countdown"> </div>
<button class="btn btn-success" onclick="countDownStart()">Start Recipe</button>


<script type="text/javascript">
let minInterval = <%= @recipe.preptime %> -1;
let secInterval = 60;
let min_ = minInterval;
let sec_ = secInterval;
let counter = <%= @recipe.preptime %> -1;


function countDownStart(){

  const timer = setInterval(() => {
    if( min_ <= -1) {
      min_ = minInterval;

    }
     document.getElementById("countdown").innerHTML = min_ +":"+sec_--+" Min";
    //document.getElementById("countdown").innerHTML = sec_--;

    if (sec_ <= -1) {
       console.log (sec_);
       min_--;
       sec_ = secInterval;
    }
    counter--;
    console.log (counter);
    if (counter < 0) {
      clearInterval(timer);
    }
  }, 1000);
}
</script>
