<div class="screen_show">
  <div class="left">
    <div class="recipe-details">
      <h2> <%= @recipe.title %> </h2>
      <div class="details-subdiv">
      <p> <%= @recipe.preptime %> mins</p>
      <%if @recipe.favorite  %>
        <p>favorited</p></div>
      <% else  %>
<!-- Button trigger modal -->
       <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add as favorite</button></div>
      <% end %>
    </div>
    <div class="instrunctions-container">
      <% @instructions.each do |instruction|%>
        <div class="recipe-instruction-card">
          <span class="badge font-48"> <%= @instructions.index(instruction) + 1%></span>
          <div class="instruction-content">
            <%= instruction.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="center">
    <div><%= image_tag('cow.png', class: 'icon') %></div>
    <div class="timer-bar"><div class="timer-bar color" style="height:20%"></div></div>
    <div><%= image_tag('burger.png', class: 'icon') %></div>
  </div>
    <div class="right">
      <div class="user-details">
        <img src="<%= current_user.avatar %>" class='user-avatar'>
        <div class="text-info">
          <div class="username"> <%= current_user.username%> </div>
            <%= link_to "<- back to the dashboard",recipes_path, class: "logout-text" %>
          </div>
      </div>
    <iframe  src="<%="https://open.spotify.com/embed/playlist/#{@recipe.playlists[0]['spotify_playlist_id']}?utm_source=generator&theme=0" %>"
      width="100%" height="640" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="Modal-heading" id="modalLabel">Do you want to favorite this masterpiece?</h1>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger">Do not save</button>
        <%= link_to 'Add to favorites', recipe_path(@recipe), method: :patch, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>
<%# Timer %>
<script type="text/javascript">
let minInterval = <%= @recipe.preptime%> -1;
let secInterval = 60;
let min_ = minInterval;
let sec_ = secInterval;
let t=setInterval("countDownStart()",1000);
function countDownStart()
{
  if( min_ <= -1) {
       min_ = minInterval;
   }
   document.getElementById("countdown").innerHTML = min_ +":"+sec_--+" Min";
  //document.getElementById("countdown").innerHTML = sec_--;
 if (sec_ <= -1) {
  console.log (sec_);
  min_--;
  sec_ = secInterval;
}
}
</script>
<%# <title>Recipe timer</title>
<div id="countdown"> </div> %>
