<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar_overwritten">
  <div class="container-fluid">
    <div>
     <%= image_tag('Frame.png', class: "logo")%>
    </div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div id="wrapper-nav">
            <li ><a class="nav" href="#">ABOUT US</a></li>
            <li ><a class="nav" href="#">PRICING</a>
            <li ><a class="nav" href="">WHY JAM MAKER?</a></li>
            <div class = "dark-btn">
              <%= image_tag('Spotify_Icon_RGB_White.png', class: 'icon') %>
              <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "link-text" %>
            </div>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="hero">
  <h1 class="text-3xl font-bold underline">
     Cook to a playlist, <br>
     Not a timer!
  </h1>
  <div class = "button">
    <%= image_tag('Spotify_Icon_RGB_White.png', class: 'icon') %>
    <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "link-text"%>
  </div>
</div>

<div class="usp-container">
  <div class="img">
    <img class="recipe-img" src="https://images.unsplash.com/photo-1515516089376-88db1e26e9c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" alt="Recipe Image">
  </div>
  <div class="text">
    <h2 class="usp">As you cook, the playlist cooks right along with you.</h2>
    <p>With Jammaker you will never have to think about what music to listen to while cooking. <br> An online tool that makes it easy to create playlists that last exactly as long as the cooking time. Forget about your playlist having to stop mid-dinner, or worrying whether they will run out of songs by the time you cut the cheese.</p>
    <div class = "dark-btn">
      <%= image_tag('Spotify_Icon_RGB_White.png', class: 'icon') %>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "link-text" %>
    </div>
 </div>
</div>

<%= render 'components/review-card' %>

<div class="lemons-container">
  <div class="content">
    <h2 class="lemon-txt">Got too many lemon's? <br>
    Learn how to make lemonade</h2>
    <form class="email-form">
      <input type="subscribe" id="query" name="sub" placeholder="youdefinetlywantournewsletter@gmail.com" class="email-input">
      <button id="dark-btn">Subscribe</button>
      <p class="explainer-text">Subscribe to our newsletter to follow the progress on jammaker</p>
    </form>
  </div>
</div>

<div class="footer">
  <div class="content2">
  <div>
    <h2 class="title-footer">JAMMAKER</h2>
    <h3 class="h3-footer">Your jam. Your playlist</h3>
  </div>
    <p class="names">Created by Boyan, Eljo, Fabio, Same, Sofiane</p>
  </div>
</div>
